html { 
  background: url(https://danieldebs.github.io/images/Paris_View.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}